/* Whole document: */



body{margin-top: 0;
   margin:0;
  font-size: 14pt;
}


h1 {
  font-size: 34px;
}
h1.title {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
.table th:not([align]) {
  text-align: left;
}
  

img { 
  width:100%; height:100%;
}

td { font-size: 11pt; }

.bloc_div {
  float: right;
}



hr {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.hr_red {
  display: block;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 30%;
  height: 10px;
  color: #0062FF;
  background-color:#0062FF;
}

html, body {
  font-size: 20px;
  background: white;
  font-family: "Helvetica Neue", "Neue Helvetica W05", Arial, sans-serif;
}

a {
  color: inherit;
}

a:focus, a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

/* Headers */
h2 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 0;
}


/*infos on links*/
a {
  color: #0062FF;
}

blockquote {
  max-width: 550px;
  text-align: right;
  margin: 20px;
  padding: 20px;
  font-size: 14pt;
}

.box_div {
  font-size: 11pt;
  background-color: #ecf5f9; /*e0ebeb*/
}


 code{white-space: pre-wrap;}
  span.smallcaps{font-variant: small-caps;}
  span.underline{text-decoration: underline;}
  div.column{display: inline-block; vertical-align: top; width: 50%;}
  div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
  ul.task-list{list-style: none;}
  
  
.main-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}
img {
  max-width:100%;
}
.tabbed-pane {
  padding-top: 12px;
}
.html-widget {
  margin-bottom: 20px;
}
button.code-folding-btn:focus {
  outline: none;
}
summary {
  display: list-item;
}


.tabset-dropdown > .nav-tabs {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabset-dropdown > .nav-tabs > li.active:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
  content: "&#xe258;";
  border: none;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs > li.active {
  display: block;
}

.tabset-dropdown > .nav-tabs > li > a,
.tabset-dropdown > .nav-tabs > li > a:focus,
.tabset-dropdown > .nav-tabs > li > a:hover {
  border: none;
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li {
  display: block;
  float: none;
}

.tabset-dropdown > .nav-tabs > li {
  display: none;
}

.social .share {
  display: flex;
  flex-wrap: wrap;
}

/* Web Share API is supported */
.webshareapi .webshare {
  display: block;
}
